{
  WebsocketReport: false,
  ImageReview: false,
  BlackList: false,
  WhiteList: false,
  BlockWord: false,
  Questions: false,
  Shutup: false,
  Online: false,
  AutomaticReview: false,
  CheckMCUpdate: false,
  MCSMModule: false,
  TPS: false,
  DebugMode: false
}