{
	VanillaServer: {
		ServerName: "VanillaServer",
		RconConfig: {
			RconHost: "192.168.1.2",
			RconPassword: "123",
			RconPort: 1337,
		},
		Command: {
			Whitelist: {
				Add: "easywhitelist add {player}",
				Del: "easywhitelist remove {player}"
			},
			Ban: {
				Add: "ban {player} {reason}",
				Del: "pardon {player}"
			},
			Bot: {
				Del: "player {player} kill"
			}
		}
	},
	TestServer: {
		ServerName: "TestServer",
		RconConfig: {
			RconHost: "192.168.1.5",
			RconPassword: "1231",
			RconPort: 1537,
		},
		Command: {
			Op: {
				Add: "op {player}",
				Del: "deop {player}"
			}
		}
	}
}
